.about-container {
    display: flex;
    width: 100vw;
    height: 95vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-summary {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
}

.about-picture {
    margin: 20px;
}
