.home-container {
    display: flex;
    width: 100vw;
    height: 95vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
}

.home-summary {
    display: flex;
    flex-direction: column;
}

.home-summary h1 {
    align-self: center;
    font-size: calc(10px + 15vmin);
    font-weight: 400;
}

.home-filter {
    display: flex;
    justify-content: space-around;
    font-family: 'IBM Plex Mono', monospace;
}

.home-filter-link {
    text-decoration: none !important;
    font-weight: 400;
    font-size: calc(10px + 1vmin);
    color: var(--main-font-color);
    opacity: 50%;
}

.active-home-filter-link {
    opacity: 100%;
}

.home-preview-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
    width: 80%;
    height: 100%;
}

.home-preview-card-container a {
    text-decoration: none;
    outline: none;
    display: flex;
}