.preview-card {
    
    border-radius: 4px;
    margin: 20px;
}

.red {
    background-color: var(--red-a);
}

.green {
    background-color: var(--green-a);
}

.blue {
    background-color: var(--blue-a);
}

.large {
    flex-grow: 9;
    max-height: calc(400px + 10vmin);
    max-width: calc(400px + 10vmin);
}

.medium {
    flex-grow: 4;
    max-height: calc(200px + 10vmin);
    max-width: calc(200px + 10vmin);
}

.small {
    flex-grow: 1;
    max-height: calc(100px + 10vmin);
    max-width: calc(100px + 10vmin);
}

.preview-card:hover {
    filter: brightness(130%);
}

.preview-card-cta {
    color: var(--main-font-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.preview-card-content {
    font-size: calc(10px + 0.5vmin);
    color: var(--main-font-color);
    /* min-width: calc(50px + 10vmin);
    min-height: calc(50px + 10vmin); */
}

.preview-card-inner {
    padding: 10px;
}

.preview-card-content img {
    max-height: 100%;
    max-width: 100%;
}