.preview-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--blue-a);
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
    align-items: center;
}

.red{
    background-color: var(--red-a);
}

.green{
    background-color: var(--green-a);
}

.blue{
    background-color: var(--blue-a);
}

.large{
    flex-grow: 9;
}

.medium{
    flex-grow: 4;
}

.small{
    flex-grow: 1;
}

.preview-card:hover {
    filter: brightness(130%);
}

.preview-card-cta {
    color: var(--main-font-color);
    font-size: 1.2rem;
    font-weight: 400;
}